<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381310169445-8lk45e8p06phuehccbm6efhm897leb3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381310169445-8lk45e8p06phuehccbm6efhm897leb3p</string>
	<key>API_KEY</key>
	<string>AIzaSyD3YM5hIrjYcVfu5GYTP405FaeZkZGH-MY</string>
	<key>GCM_SENDER_ID</key>
	<string>381310169445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.khairphan.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-f1923</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-f1923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381310169445:ios:a54a96ad0f367a668d318c</string>
</dict>
</plist>